#!/bin/sh
recepient="{{ server_login_alert_email }}"

if [ "$PAM_TYPE" != "close_session" ]; then
    host="`hostname`"
    subject="SSH Login: $PAM_USER from $PAM_RHOST on $host"
    message="`env`"
    echo "$message" | mailx -s "$subject" "$recepient"
fi

